{{- $personal := false -}}
{{- $vault := "Private" -}}
{{- $response := promptStringOnce . "personal" "Is this a personal machine (yes/no)" -}}
{{- if hasPrefix "y" (lower $response) -}}
{{-   $personal = true -}}
{{- else -}}
{{-   $vault = promptStringOnce . "vault" "1Password vault name for work" -}}
{{- end }}

[data]
personal = {{ $personal }}
vault = {{ $vault | quote }}

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age1h6mv0d9tg9anckr7qddtux7f6hrf6x308ex40xsq04u6tyeq632qva2ftu"
