{{- $personal := false -}}
{{- $vault := "Private" -}}
{{- $response := promptStringOnce . "personal" "Is this a personal machine (yes/no)" -}}
{{- if hasPrefix "y" (lower $response) -}}
{{-   $personal = true -}}
{{- else -}}
{{-   $vault = promptStringOnce . "vault" "1Password vault name for work" -}}
{{- end }}

[data]
personal = {{ $personal }}
vault = {{ $vault | quote }}
