# Core tools
brew "gh"
brew "git"
brew "zsh"

# Terminal
cask "iterm2"
cask "font-meslo-lg-nerd-font"

# Password manager
cask "1password"
cask "1password-cli"

{{ if .personal }}
# Personal only
{{ end }}
